<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/cssfiles/nav.css">
    <link rel="stylesheet" href="../static/cssfiles/classes.css">
    <title>Modern Dance Studios</title>
</head>
<body>
    <nav class="flex nav-h">
        <div class="logo rmv-logo">
            <a href="/home"><img src="../static/images/navlgo.png" alt="" srcset=""></a>
        </div>

        <div class="nav-list v-class" id="nav-list">
            <ul class="flex v-class ul-list">
                <li><a href="/home">HOME</a></li>
                <li><a href="/tranning">TRANNING</a></li>
                <li><a href="/classes">CLASSES</a></li>
                <li><a href="/profile">MY PROFILE</a></li>
                <li><a href="/contact">CONTACT US</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
        <div class="burger" id="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>    
    </nav>
    <section class="sec-1">
        <div>
            <h1>OUR STUDIO'S</h1>
        </div>
    </section>
    <div class="fill">
        <h1>Fill in the Registration Form Online!</h1>
        <h4>Register Now & get 3 days Free Trial Classes </h4>
        <button class="btn">Click here to join us.</button>
    </div>
    <section class="sec-2">
        <img src="../static/images/classesleft.png" id="imgleft" alt="" srcset="">
        <div class="right">
            <h1 class="orange">What you’ll get with Dance Studio</h1>
            <h5 class="green">Benefits of being a dancer</h5>
            <div class="sidedv">
                <div class="right-img-div imgN">
                    <img src="../static/images/heart.webp" alt="">
                </div>
                <div>
                    <h3 class="orange">Healthy Body & Mind</h3>
                    <p class="green">Improved condition of your heart and lungs.increased muscular strength, endurance and motor fitness.improved muscle tone and strength.weight management.stronger bones
                        better coordination, agility and flexibilitys.</p>
                </div>
            </div>
            <div class="sidedv">
                <div class="right-img-div imgN">
                    <img src="../static/images/music.png"  alt="">
                </div>
                <div>
                    <h3 class="orange">Great Music & Costumes</h3>
                    <p class="green"> Where words fail, music speaks.Music is the language of the spirit.Music, once admitted to the soul, becomes a sort of spirit, and never dies.</p>
                </div>
            </div>
            <div class="sidedv">
                <div class="right-img-div imgN">
                    <img src="../static/images/tranning-logo-3.png" alt="">
                </div>
                <div>
                    <h3 class="orange">Creative & Fun People</h3>
                    <p class="green">There are shortcuts to happiness, and dancing is one of them. “Dancing is like dreaming with your feet!”.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-3">
        <h1>Our Classes</h1>
        <h6>Choose Your Intrest...</h6>
        <div class="classesmain">
            <div class="cls"><img src="../static/images/c-hiphop.png" alt=""><div class="name">Hip-Hop</div></div>
            <div class="cls"><img src="../static/images/c-jazz.jpg" alt=""><div class="name">Jazz Funk</div></div>
            <div class="cls"><img src="../static/images/c-classic.jpg" alt=""><div class="name">HouseDance</div></div>
            <div class="cls"><img src="../static/images/c-tango.jpeg" alt=""><div class="name">Tango</div></div>
            <div class="cls"><img src="../static/images/c-moderndance.jpg" alt=""><div class="name">ModernDance</div></div>
            <div class="cls"><img src="../static/images/c-disco.jpg" alt=""><div class="name">DiscoDance</div></div>
        </div>
    </section>
    <footer>
        <div>
            <img src="../static/images/navlgo.png" alt="" srcset="">
        </div>
        <div class ="ft-logo">
            <a href="https://www.facebook.com/ModernDanceVideos/"><img src="../static/images/facebook-round-line-icon.png" alt="" srcset=""></a>
            <a href="https://twitter.com/hashtag/moderndance"><img src="../static/images/twitter-icon.png" alt="" srcset=""></a>
            <a href="http://www.snapchat.com"><img src="../static/images/snapchat-round-icon.png" alt="" srcset=""></a>
            <a href="https://www.instagram.com/explore/tags/contemporarydance/?hl=en"><img src="../static/images/instagram-round-icon.png" alt="" srcset=""></a>
            <a href="https://www.youtube.com/watch?v=FdFsnc-8ozM"><img src="../static/images/youtube-round-icon.png" alt="" srcset=""></a>
        </div>
        <div class="ft-h3">
        <h3>© Copyright 2016 ModernDance.com - Dance Academy </h3>
        <h3>Dream Dancing World</h3>
        </div>
    </footer>
    <script src="../static/javasc/nav.js"></script>
    <script src="../static/javasc/classes.js"></script>
</body>
</html>