<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/cssfiles/signup.css">
    <link rel="stylesheet" href="../static/cssfiles/main.css">
    <link rel="stylesheet" href="../static/cssfiles/login.css">
    <title>ModernDance</title>
</head>
<body>
    <nav class="flex nav-h">
        <div class="logo rmv-logo">
            <a href="/"><img src="../static/images/navlgo.png" alt="" srcset=""></a>
        </div>

        <div class="nav-list v-class" id="nav-list">
            <button class="btn" id="btn-1">Sign Up</button>
            <button class="btn" id="btn-2">Log In</button>
        </div>
          
    </nav>
    <section class="sec-1">
        <div class="first-sec">
            <div class="heading-main">
                <h1>Can you feel the</h1>

                <h4>MODERN DANCE VIBE</h4>

                <h5>Join Us to feel the vibe</h5>

            </div>
        </div>
    </section>


<script src="../static/javasc/main.js"></script>
</body>
</html>