<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance School</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/cssfiles/nav.css">
    <link rel="stylesheet" href="../static/cssfiles/tranning.css">
</head>

<body>
    <nav class="flex nav-h">
        <div class="logo rmv-logo">
            <a href="/home"><img src="../static/images/navlgo.png" alt="" srcset=""></a>
        </div>

        <div class="nav-list v-class" id="nav-list">
            <ul class="flex v-class ul-list">
                <li><a href="/home">HOME</a></li>
                <li><a href="/tranning">TRANNING</a></li>
                <li><a href="/classes">CLASSES</a></li>
                <li><a href="/profile">MY PROFILE</a></li>
                <li><a href="/contact">CONTACT US</a></li>
                <li><a href="/logout">Log Out</a></li>

            </ul>
        </div>
        <div class="burger" id="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>    
    </nav>

    <section class="sec-1">
        <div>
            <h1>TRANNING'S</h1>
        </div>
    </section>

    <section class="sec-2">
        <div class="right-dv">
            <img src="../static/images/tranning-sec-1-right-dv.png" alt="" srcset="" >
            <h1>Training the dancers goes on in our Academy on a regular basis. You can enroll for a part-time or full-time program.</h1>
        </div>

        <div class="left-dv">
            <div class="leftdiv-contant">
                <img src="../static/images/tranning-sec-1-leftdiv -1.jpg" alt="" srcset="" class="left-dv-img">
                <div>
                    <h1>Advance Techniques in Training</h1>
                    <h3>Diploma in Pilates</h3>
                    <h3>Calisthenics Basics</h3>
                </div>
            </div>

            <div class="leftdiv-contant">
                <img src="../static/images/tranning-sec-1-leftdiv -2.jpg" alt="" srcset="" class="left-dv-img">
                <div>
                    <h1>Advance Techniques in Training</h1>
                    <h3>Diploma in Pilates</h3>
                    <h3>Calisthenics Basics</h3>
                </div>
            </div>
            
            <div class="leftdiv-contant">
                <img src="../static/images/tranning-sec-1-leftdiv -3.jpg" alt="" srcset="" class="left-dv-img">
                <div>
                    <h1>Advance Techniques in Training</h1>
                    <h3>Diploma in Pilates</h3>
                    <h3>Calisthenics Basics</h3>
                </div>
            </div>
            <div class="leftdiv-contant">
                <img src="../static/images/tranning-sec-1-leftdiv -4.jpg" alt="" srcset="" class="left-dv-img">
                <div>
                    <h1>Advance Techniques in Training</h1>
                    <h3>Diploma in Pilates</h3>
                    <h3>Calisthenics Basics</h3>
                </div>
            </div>
        </div>
    </section>
    
    <section class="sec-3">
        <div class="sec-3head">
            <h4>We make you want to dance...right now!</h4>
            <h1>DANCING IS FUN WORKOUT!</h1>
            <h2>Life is the eternal cosmic dance... Why don't you join?</h2>
        </div>
        <div class="sec-ctextmain">
            <div class="sec-3text">
                <div class="imgdiv blue">
                    <img src="../static/images/tranning-logo-1.png" alt="">
                </div>
                <div>
                    <h1>NTENSIVE BASICS</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit. Nullam id arcu tortor.</p>
                </div>
            </div>
            <div class="sec-3text">
                <div class="imgdiv red">
                    <img src="../static/images/tranning-logo-2.png" alt="">
                </div>    
                <div>
                    <h1>CLASSICAL DANCE</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit. Nullam id arcu tortor.</p>
                </div>
            </div>
            <div class="sec-3text">
                <div class="imgdiv green">
                    <img src="../static/images/tranning-logo-3.png" alt="">
                </div>
                <div>
                    <h1>CHILDREN BALLET</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis cing elit. Nullam id arcu tortor.</p>    
                </div>
            </div>
        </div>
    </section>
    <section class="sec-4">
        <div class="paymentdiv-main">
            <h4>3 CLASS A WEEK</h4>
            <p>Billed annually or Rs.800 monthly</p>
            <h6>Rs.9000/year</h6>
                <li>1 Person</li>
                <li>1 Trainer</li>
                <li>1 Course</li>
                <li>Custom Timing</li>
            <button class="btn">Enroll Now &#8594
            </button>
        </div>
        <div class="paymentdiv-main">
            <h4>4 CLASS A WEEK</h4>
            <p>Billed annually or Rs.1200 monthly</p>
            <h6>Rs.12000/year</h6>
                <li>1 Person</li>
                <li>1 Trainer</li>
                <li>1 Course</li>
                <li>Custom Timing</li>
            <button class="btn">Enroll Now &#8594
            </button>
        </div>
        <div class="paymentdiv-main">
            <h4>5 CLASS A WEEK</h4>
            <p>Billed annually or Rs.1600 monthly</p>
            <h6>Rs.15000/year</h6>
                <li>1 Person</li>
                <li>1 Trainer</li>
                <li>2 Course</li>
                <li>Custom Timing</li>
            <button class="btn">Enroll Now &#8594
            </button>
        </div>
        <div class="paymentdiv-main">
            <h4>6 CLASS A WEEK</h4>
            <p>Billed annually or Rs.2000 monthly</p>
            <h6>Rs.18000/year</h6>
                <li>1 Person</li>
                <li>1 Trainer</li>
                <li>2 Course</li>
                <li>Custom Timing</li>
            <button class="btn">Enroll Now &#8594
            </button>
        </div>
    </section>

    <section class="sec-5">
        <div class="sec-5main">
            <div>
                <img src="../static/images/tranning-ft-logo.png" alt="">
                <h3>Dance</h3>
            </div>
            <p>Dance is a wordpress theme that is truly multi-purpose with our way of taking care your needs.</p>
            <p>The barrage of shortcodes that works in the pages, makes it the better choice for your business.</p>
            <p>STAY CONNECTED</p>
        </div>

        <div class="sec-5main">
            <h3>Opening Hours</h3>
            <div class="smalldiv"></div>
            <li>Hip Hop Dance : 07:00 – 21:00</li>
            <li>Ballet : 09:00 – 21:00</li>
            <li>Break Dance : 18:00 – 24:00</li>
            <li>Salsa : 18:00 – 22:00</li>
            <li>Tab Dancing : 19:00 – 23:00</li>
            <li>Cha Cha : 20:00 – 23:00</li>
        </div>
        <div class="sec-5main height">
            <li>Corridos : 07:00 – 21:00</li>
            <li>Cumbia : 09:00 – 21:00</li>
            <li>Duranguense : 18:00 – 24:00</li>
            <li>Quebradita : 18:00 – 22:00</li>
        </div>
        <div class="sec-5main">
            <h3>Contact Us</h3>
            <div class="smalldiv"></div>
            <div class="sec-5main-div1">
                <img src="../static/images/home-icon.png" alt="">
                <p>72 Pilgrim Avenue, Chevy Chase,MD 20815</p>
            </div>
            <div>
                <img src="../static/images/call-icon.webp" alt="">
                <div class="sec-5main-div2">
                    <span>(226) 906-2721</span>
                    <span>(671) 925-1352</span>
                </div>
            </div>
            <div>
                <img src="../static/images/talegram-icon.png" alt="" srcset="">
                <a href="">www.moderndacne.co.in</a>
            </div>
        </div>
    </section>
    <footer>
        <div>
            <img src="../static/images/navlgo.png" alt="" srcset="">
        </div>
        <div class ="ft-logo">
            <a href="https://www.facebook.com/ModernDanceVideos/"><img src="../static/images/facebook-round-line-icon.png" alt="" srcset=""></a>
            <a href="https://twitter.com/hashtag/moderndance"><img src="../static/images/twitter-icon.png" alt="" srcset=""></a>
            <a href="http://www.snapchat.com"><img src="../static/images/snapchat-round-icon.png" alt="" srcset=""></a>
            <a href="https://www.instagram.com/explore/tags/contemporarydance/?hl=en"><img src="../static/images/instagram-round-icon.png" alt="" srcset=""></a>
            <a href="https://www.youtube.com/watch?v=FdFsnc-8ozM"><img src="../static/images/youtube-round-icon.png" alt="" srcset=""></a>
        </div>
        <div class="ft-h3">
        <h3>© Copyright 2016 ModernDance.com - Dance Academy </h3>
        <h3>Dream Dancing World</h3>
        </div>
    </footer>
        
        <script src="../static/javasc/nav.js"></script> 
        <script src="../static/javasc/tranning.js"></script> 


    </body>
</html>